@page "/explore"
@inject UserSessionService Session

<div class="content-wrapper">
    @if (!string.IsNullOrEmpty(ErrorMessage))
    {
        <div class="alert alert-info custom-alert">@ErrorMessage</div>
    }
    @if (ForumNames is not null && ForumNames.Count != 0)
    {
        foreach (var forumName in ForumNames)
        {
            <a href="/forum/@forumName" class="forum-name-wrapper">
                @forumName
            </a>
        }
    }
</div>

@code {
    List<string>? ForumNames { get; set; }
    public string? ErrorMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await Session.WaitUntilReadyAsync();
        ForumNames = Session?.Forums?.Select(f => f.ForumName).ToList();
        if (ForumNames == null || ForumNames.Count == 0)
        {
            ErrorMessage = "No forums available";
        }
    }
}

<style>
    .content-wrapper {
        box-shadow: 0px 0px 0px 0px;
        background-color: transparent;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .forum-name-wrapper {
        box-shadow: 3px 3px 10px 0px rgba(150, 150, 150, 0.5);
        margin-bottom: 10px;
        height: 40px;
        width: 400px;
        font-size: 20px;
        padding-top: 6px;
        padding-left: 10px;
        background-color: white;
        text-align: center;
    }

    .forum-name-wrapper:hover {
        background-color: #f0f0f0;
    }

    .custom-alert {
        width: 100%;
        text-align: center;
    }
</style>
