@page "/notifications"

@inject UserSessionService Session

<div class="mt-3"></div>
@if (Session.Notifications is not null && Session.Notifications.Count > 0) 
{
    var testNotification = Session.Notifications.First();

    <div class="content-wrapper">
        <div class="notification-list">
            <div>Notifications:</div>
            @foreach (var notification in Session.Notifications)
            {
                <ShortNotificationComponent Notification="notification"></ShortNotificationComponent>
            }
        </div>
    </div>
}
@if (!string.IsNullOrEmpty(ErrorMessage))
{
    <div class="alert alert-info">@ErrorMessage</div>
}


@code {
    public string ErrorMessage { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (!Session.IsInitialized)
        {
            await Session.InitializeAsync();

            if (Session.Notifications == null)
            {
                ErrorMessage = "No notifications";
            }
        }
    }
}
