@page "/notifications"

@inject UserSessionService Session

<div class="mt-3"></div>
@if (Session.Notifications is not null && Session.Notifications.Count > 0) 
{
    var testNotification = Session.Notifications.First();

    <div class="content-wrapper">
        <div class="notification-list">
            <div>Notifications:</div>
            @foreach (var notification in Session.Notifications)
            {
                <ShortNotificationComponent Notification="notification"></ShortNotificationComponent>
            }
        </div>
    </div>
}
else
{
    <div>No notifications</div>
}


@code {
    protected override async Task OnInitializedAsync()
    {
        if (!Session.IsInitialized)
        {
            await Session.InitializeAsync();
        }
    }
}
