@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject IAccessTokenProvider TokenProvider

<AuthorizeView Context="auth">
    <Authorized>
        <span class="nav-item text-white">Hej @auth.User.Identity.Name !</span>
        @* <a class="nav-link" href="authentication/logout">Log ud</a> *@
        <button @onclick="LogoutManually" class="nav-link btn">Log ud</button>
    </Authorized>
    <NotAuthorized>
        <a class="nav-link" href="authentication/login">Log ind</a>
    </NotAuthorized>
</AuthorizeView>

@code
{
    private async Task LogoutManually()
    {
        // Hent ID-token fra sessionStorage
        var rawUser = await JS.InvokeAsync<string>("sessionStorage.getItem", 
            "oidc.user:https://keycloak.blrforum.dk/realms/4SemForumProjekt:webservice-client");

        if (string.IsNullOrEmpty(rawUser))
        {
            Console.WriteLine("Kunne ikke finde oidc.user-data.");
            return;
        }

        var userObj = System.Text.Json.JsonDocument.Parse(rawUser);
        var idToken = userObj.RootElement.GetProperty("id_token").GetString();

        if (string.IsNullOrEmpty(idToken))
        {
            Console.WriteLine("id_token mangler.");
            return;
        }

        var logoutUrl = $"https://keycloak.blrforum.dk/realms/4SemForumProjekt/protocol/openid-connect/logout" +
                        $"?id_token_hint={idToken}" +
                        $"&post_logout_redirect_uri=http://localhost:5221/loggedout/";

        Navigation.NavigateTo(logoutUrl, forceLoad: true);
    }
}
