@inject INotificationService NotificationService
@inject NavigationManager Navigation
@inject IForumService ForumService
@inject UserSessionService Session

<AuthorizeView>
    @if (Notification is not null)
    {
        <div class="notification-wrapper">
            <div class="notification-content @(Notification.IsRead ? "notification-read" : "")" 
                 @onclick="() => OnNotificationClicked(Notification.Id)">
                <div><strong>Message:</strong><span>@Notification.Message</span></div>
                <div><strong>CreatedAt:</strong><span>@Notification.CreatedAt</span></div>
                @if (!Notification.IsRead)
                {
                    <div class="notification-indicator"></div>
                }
            </div>
        </div>
    }
</AuthorizeView>

@code {
    [Parameter]
    public NotificationView? Notification { get; set; }

    private async Task OnNotificationClicked(int notificationId)
    {
        if (Notification is not null && !Notification.IsRead)
        {
            await NotificationService.MarkNotificationAsRead(notificationId);
            Notification.IsRead = true;
            StateHasChanged();
        }

        if (Notification.SourceType == "Forum")
        {
            var forum = Session.Forums?.FirstOrDefault(f => f.Id == Notification.SourceId);
            Navigation.NavigateTo($"/forum/{forum.ForumName}");
        }
        else if (Notification.SourceType == "Post")
        {
            var forum = Session.Forums?.Where(f => f.Posts.Any(p => p.Id == Notification.SourceId)).FirstOrDefault(); 
            Navigation.NavigateTo($"/forum/{forum.ForumName}/post/{Notification.SourceId}/comments");
        }
    }
}


<style>
    .notification-wrapper {
        position: relative;
        padding: 16px;
        margin-bottom: 12px;
        border: 1px solid #ddd;
        border-radius: 6px;
        background-color: white;
        cursor: pointer;
    }

    .notification-indicator {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        width: 5px;
        height: 25px;
        background-color: #007fff;
        border-radius: 0%;
    }

    .notification-read {
        color: #888;
    }
</style>